<%- include("../includes/head") %>
<section class="mx-auto">
  <h1 class="title">Chage New Password</h1>
  <% if(errorMsg.length){ %>
  <p class="msg-box"><%= errorMsg %></p>
  <% } %>
  <form action="/change-new-password" method="POST">
    <input value="<%= csrfToken %>" name="_csrf" hidden />
    <input value="<%= resetToken %>" name="resetToken" hidden />
    <input value="<%= user_id %>" name="user_id" hidden />
    <div>
      <label for="password">Enter New Password</label>
      <input
        type="password"
        id="password"
        name="password"
        value="<%= oldFormData.password %>"
      />
    </div>
    <div>
      <label for="confirm_password">Confirm New Password</label>
      <input
        type="password"
        id="confirm_password"
        name="confirm_password"
        value="<%= oldFormData.confirm_password %>"
      />
    </div>
    <button>Change Password</button>
  </form>
</section>
<%- include("../includes/foot") %>
