<%- include("./includes/head") %>
<section class="mx-auto">
  <a href="/">GoBack Home</a>
  <h1 class="title">Add Post</h1>
  <% if(errorMsg.length){ %>
  <p class="msg-box"><%= errorMsg %></p>
  <% } %>
  <form action="/admin" method="POST" enctype="multipart/form-data">
    <input value="<%= csrfToken %>" name="_csrf" hidden />
    <div>
      <label for="title">Enter Title</label>
      <input
        type="text"
        id="title"
        name="title"
        required
        value="<%= oldFormData.title %>"
      />
    </div>
    <!-- <div>
      <label for="photo">Enter Photo</label>
      <input
        type="text"
        id="photo"
        name="photo"
        required
        value="<%= oldFormData.photo %>"
      />
    </div> -->
    <div>
      <label for="photo">Enter Photo</label>
      <input type="file" id="photo" name="photo" required />
    </div>
    <div>
      <label for="description">Enter Description</label>
      <textarea name="description" id="description" cols="30" rows="10">
<%= oldFormData.description %> </textarea
      >
    </div>
    <button>Add Post</button>
  </form>
</section>
<%- include("./includes/foot") %>
