<%- include("./includes/head") %>
<section class="details">
  <h1><%= post.title %></h1>
  <img src="<%= post.imgUrl %>" alt="<% post.title %>" />
  <p><%= post.description %></p>
  <a href="#">Delete</a>
  <a href="/admin/edit/<%= post._id %>">Edit</a>
</section>
<%- include("./includes/foot") %>
