<%- include("./includes/head") %>
<section class="details">
  <div class="details-div">
    <h1 class="title"><%= post.title %></h1>
  </div>
  <p class="tmp"><i class="fa-solid fa-user"></i> - <%= post.userId.email%></p>
  <% if(date) { %>
  <p class="tmp"><i class="fa-solid fa-calendar-days"></i> - <%= date %></p>
  <% } %>
  <a href="/save/<%= post._id %>">Save as PDF</a>
  <img src="<%= '/' + post.imgUrl %>" alt="<% post.title %>" class="det-img" />
  <p class="det-des desc"><%= post.description %></p>
  <% if(post.userId._id.toString() == currentLoginUserId.toString()) { %>
  <form action="/admin/delete/<%= post._id%>" method="post">
    <input value="<%= csrfToken %>" name="_csrf" hidden />
    <% if(isLogin) {%>
    <button class="del-btn">Delete</button>
    <% } %>
  </form>
  <% if(isLogin) {%>
  <button class="edit-btn">
    <a href="/admin/edit/<%= post._id %>">Edit</a>
  </button>
  <% } %> <% } %>
</section>
<%- include("./includes/foot") %>
