<%- include("./includes/head") %>
<section class="mx-auto">
  <a href="/">GoBack Home</a>
  <h1 class="title">Add Post</h1>
  <form action="/admin/edit-post" method="POST">
    <input value="<%= csrfToken %>" name="_csrf" hidden />
    <input type="text" value="<%= post._id %>" name="postId" hidden />
    <div>
      <label for="title">Enter Title</label>
      <input
        type="text"
        id="title"
        name="title"
        value="<%= post.title %>"
        required
      />
    </div>
    <div>
      <label for="photo">Enter Photo</label>
      <input
        type="text"
        id="photo"
        name="photo"
        value="<%= post.imgUrl %>"
        required
      />
    </div>
    <div>
      <label for="description">Enter Description</label>
      <textarea name="description" id="description" cols="30" rows="10">
<%= post.description %>"</textarea
      >
    </div>
    <button>Update Post</button>
  </form>
</section>
<%- include("./includes/foot") %>
