<%- include("./includes/head") %>
<section class="header">
<h1 class="title">Recent Posts</h1>
<% if(postsArr.length === 0 && isLogin) { %>
<div class="noPost-Alert">
  <h4>Nothing Somethin IDK</h4>
  <p>Create a post now!!</p>
  <a href="/admin/create-post">Create New Post</a>
</div>
<% } %>
<div class="post-container">
  <% for(let post of postsArr){ %>
  <div class="post-box">
    <img src="<%= '/' + post.imgUrl %>" alt="<%= post.title %>" class="post-box-img">
    <a href="/post/<%= post._id %>"  class="post-title"><%= post.title %></a>
    <p class="post-email">Post by => <%= post.userId.email %></p>
  </div>
  <% } %>
</div>
<div class="paginate">
  <% if(!hasNextPage && currentPage == 1){ %>
  <a href="/?page=2">Next Page</a>
  <% } %> <% if(hasNextPage) { %>
  <a href="/?page=<%=nextPage %>">Next Page <%=nextPage %></a>
  <% } %> <% if(hasPreviousPage) { %>
  <a href="/?page=<%=previousPage %>">Previous Page <%=previousPage %></a>
  <% } %>
</div>
<%- include("./includes/foot") %>
