<%- include("./includes/head") %>
<section class="header">
  <h1 class="title">Recent Posts</h1>
  <% if(postsArr.length === 0 && isLogin) { %>
  <div class="noPost-Alert">
    <h4>Nothing Somethin IDK</h4>
    <p>Create a post now!!</p>
    <a href="/admin/create-post">Create New Post</a>
  </div>
  <% } %>
  <div class="post-container">
    <% for(let post of postsArr){ %>
    <div class="post-box">
      <img
        src="<%= '/' + post.imgUrl %>"
        alt="<%= post.title %>"
        class="post-box-img"
      />
      <a href="/post/<%= post._id %>" class="post-title"><%= post.title %></a>
      <% if(post.userId._id.toString() == currentUserID.toString()) { %>
      <a href="/admin/view-profile" class="post-email"
        ><span>Post By =></span> <% if(post.userId.isPremium) {%> <%=
        post.userId.username %>
        <i
          class="fa-regular fa-star animate__animated animate__heartBeat animate__infinite infinite"
        ></i>
        <%}else{%><%=post.userId.email%> <%}%></a
      >
      <% }else{ %>
      <a href="/profile/<%= post.userId._id %>" class="post-email"
        ><span>Post By =></span><% if(post.userId.isPremium) {%> <%=
        post.userId.username %>
        <i
          class="fa-regular fa-star animate__animated animate__heartBeat animate__infinite infinite"
        ></i>
        <%}else{%> <%=post.userId.email%> <%}%></a
      >
      <% } %>
    </div>
    <% } %>
  </div>
  <div class="paginate">
    <% if(hasNextPage) { %>
    <a href="/?page=<%=nextPage %>">Next Page <%=nextPage %></a>
    <% } %> <% if(hasPreviousPage) { %>
    <a href="/?page=<%=previousPage %>">Previous Page <%=previousPage %></a>
    <% } %>
  </div>
  <%- include("./includes/foot") %>
</section>
