<%- include("./includes/head") %>
<section class="header">
  <h1 class="title">SHINBLOG</h1>
  <p class="description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente suscipit,
    repellendus tempore cupiditate neque, enim quasi nisi reprehenderit,
    consequatur commodi esse? Quaerat illo sint modi libero enim placeat
    veritatis quia. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Totam adipisci minima ipsum praesentium tenetur porro mollitia accusamus
    vel, eveniet perferendis eos ullam aut rem vitae at harum facilis sequi
    temporibus.
  </p>
</section>
<% if(isLogin) {%>
<div class="login-div">
  <div>
    <a href="/admin/create-post"
      >Add A New Post as <%=currentUserEmail ? currentUserEmail : "" %></a
    >
    ||
    <form action="/logout" method="post">
      <input value="<%= csrfToken %>" name="_csrf" hidden />
      <button class="logout-btn">Logout</button>
    </form>
  </div>
</div>
<%}else {%>
<div class="login-div">
  <div>
    <a href="/login">Login to existing account</a>
    <span>or</span>
    <a href="/register">Create a new account</a>
  </div>
</div>
<% } %>
<hr />
<h1 class="title">Recent Posts</h1>
<% if(postsArr.length === 0 && isLogin) { %>
<div class="noPost-Alert">
  <h4>Nothing Somethin IDK</h4>
  <p>Create a post now!!</p>
  <a href="/admin/create-post">Create New Post</a>
</div>
<% } %> <% for(let post of postsArr){ %>
<div class="post-container">
  <div class="post-box">
    <p class="post-title"><%= post.title %></p>
    <p class="post-email">Post by => <%= post.userId.email %></p>
    <a href="/post/<%= post._id %>" class="btn">See More...</a>
  </div>
</div>
<% } %>
<hr />
<div class="paginate">
  <% if(!hasNextPage && currentPage == 1){ %>
  <a href="/?page=2">Next Page</a>
  <% } %> <% if(hasNextPage) { %>
  <a href="/?page=<%=nextPage %>">Next Page <%=nextPage %></a>
  <% } %> <% if(hasPreviousPage) { %>
  <a href="/?page=<%=previousPage %>">Previous Page <%=previousPage %></a>
  <% } %>
</div>
<%- include("./includes/foot") %>
